.courses > div{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.certificationsBox{
    background: rgba( 0, 0, 0, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.0px );
    -webkit-backdrop-filter: blur( 14.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2rem;
}

.certificateImage{
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
}

.certificateImage::-webkit-scrollbar {
    display: none;
}

.certificateImage > div {
    scroll-snap-align: start;
    padding: 1rem;
}

@media screen and (max-width: 700px){
    .certificateImage{
        width:85%;
        height:45%;
    }
}

.certificates{
    width:60%;
    height: 60%;
}

.icon{
    background: rgba( 0, 0, 0, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.0px );
    -webkit-backdrop-filter: blur( 14.0px );
}

.icon:hover{
    transform: scale(1.5,1.5);
    transition: transform 500ms;
    cursor: pointer;
}
