.dot {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

/*.classState{*/
/*    visibility: hidden;*/
/*}*/

/*.classState:hover{*/
/*    visibility: visible;*/
/*}*/

.supporter{
    background: rgba( 0, 0, 0, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.0px );
}

.menu{
    background:none;
    box-shadow: none;
    backdrop-filter: none;
}

@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .high{
        /*box-shadow:20px 20px 50px 10px pink inset;*/
    }
}

@media (min-width: 768px){
    .Icon:hover ~ .NavHead{
        visibility: visible;
    }

    .NavHead{
        animation-name: revealmenu;
        animation-duration: 500ms;
        animation-delay: 500ms;
    }

    @keyframes revealmenu {
        from {visibility: hidden;}
        to {visibility: visible;}
    }

    .Icon:hover{
        transform: scale(1.5,1.5);
        transition: transform 500ms;
    }
}
